body {
  font-family: Arial, sans-serif;
  background:#0b0b0b;
  color:#fff;
  margin:0;
}

header, footer {
  background:#e60000;
  text-align:center;
  padding:15px;
}

.card {
  background:#111;
  margin:15px;
  padding:15px;
  border-radius:8px;
  box-shadow:0 0 10px #e6000044;
}

input, select, button {
  width:100%;
  margin:6px 0;
  padding:8px;
  border:none;
  border-radius:5px;
}

button {
  background:#e60000;
  color:#fff;
  cursor:pointer;
}

button:hover {
  background:#ff1a1a;
}

.hidden {
  display:none;
}

/* MODAL */
.modal {
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.8);
  display:flex;
  justify-content:center;
  align-items:center;
}

.modal-content {
  background:#111;
  padding:20px;
  border-radius:8px;
  width:90%;
  max-width:500px;
}

canvas {
  border:1px solid #555;
}
